.forum-navbar {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #F9ED32;
}

.forum-navbar-a {
    letter-spacing: 2px;
    background-color: #1C75BC;
    color: white;
    padding: 0px;
    margin: 0 auto;
    display: inline-block;
    height: 2em;
    font-size: 1.3em;
    font-family: 'notosansbold-font',sans-serif;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width:150px;
} 

.forum-navbar-a:hover {
    background-color: #EF4136;
}

.forum-banner-img{
    width: 100%;
    float: left;
}

.forum-banner-right{
    width: 100%;
    float: right;
    height: 200px;
    display: block;
    text-align: center;
    background-color: white;
    color: #EF4136;
}

.forum-banner-engtext {
    font-family: 'dinpro-b',sans-serif;
    font-size:80px;
    letter-spacing: 4px;
}

.forum-banner-chtext {
    font-family: 'notosansbold-font',sans-serif;
    font-size:25px;
    letter-spacing: 10px;
}

.forum-origin {
    padding: 10px;
    width: 100%;
    background-color: #1C75BC;
}

.forum-h {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    font-family: 'notosansbold-font',sans-serif;
    letter-spacing: 10px;
    color: #F9ED32;
}

.forum-h-orange {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    font-family: 'notosansbold-font',sans-serif;
    letter-spacing: 10px;
    color: #EF4136;
}

.forum-p {
    letter-spacing: 1px;
    padding: 10px;
    text-align: justify;
    text-indent: 1em;
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    font-family: 'notosanslight-font',sans-serif;
    color: white;
}

.forum-p-h {
    font-size: 1.2em;
    text-indent: 0;
    color: #EF4136;
    background-color: white;
}

.forum-ticket-table{
    text-align: center;
    margin-top: 80px;
    width:90%;
    font-family: 'notosansbold-font',sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
     margin: 0 auto;
    vertical-align: middle;
}



.forum-agenda {
    padding: 10px;
    background-color: white;
    overflow-x: auto;
    width:100%;
    margin: 0 auto;
}

.forum-agenda-table{
    text-align: center;
    margin-top: 80px;
    min-width: 800px;
    font-family: 'notosansbold-font',sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
     margin: 0 auto;
    vertical-align: middle;
}

.forum-agenda-tr{
    height: 50px;
}

.forum-agenda-th {
    border: 1px solid white;
    color: #F9ED32;
    background-color: #1C75BC;
}

.forum-agenda-td {
    color: #1C75BC;
    border: 1px solid #1C75BC;
    padding: 10px;
}

.forum-agenda-category{
    font-size: 1.2em;
    text-indent: 0.5em;
    color: EF4136;
    font-family: 'notosansbold-font',sans-serif;
    background-color: white;
}

.forum-agenda-category-intro {
    opacity: 0.4;
    font-size: 0.8em;
}

.forum-agenda-speaker-name {
    color: #EF4136;
    font-size: 1.2em;
    line-height: 2em;
}

.forum-agenda-speaker-intro {
    opacity: 0.4;
    font-size: 0.8em;
}


.forum-speaker-a {
    text-decoration: none;
}

.forum-speaker-a:hover + span {
    display: inline-block;
}

.forum-speaker-intro {
    background-color: #1C75BC;

    overflow-x: auto;
}

.forum-speaker-intro-table {
    font-family: 'notosansbold-font',sans-serif;
    width:80%;
    margin : 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: auto;
    min-width: 600px;

}

.forum-speaker-intro-pic-td {
    vertical-align:text-top;
    width: 50%;
}

.forum-speaker-intro-pic {
    -webkit-transition: height 0.5s;
            transition: height 0.5s;
    height: 200px;
}
.forum-speaker-intro-pic:hover {
    height:250px;
}

.forum-speaker-intro-name {
    background-color: white;
    letter-spacing: 3px;
    font-size: 2em;
    color: #EF4136;
}

.forum-speaker-intro-job {
    letter-spacing: 3px;
    font-size: 1.2em;
    color: #F9ED32;
    line-height: 2em;
}

.forum-speaker-intro-text {
    font-family: 'notosanslight-font',sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    color: white;
    line-height: 2em;
    margin-left: 10px;
    display: inline-block;
    text-align: left;
}

.lightbox {
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    position: fixed  ;
    opacity: 0%;
    left: 0  ;
    top: 0  ;
    z-index: 20  ;
    background: rgba(00,00,00,.8)  ;
    display: none  ;
    font-family: 'notosansbold-font',sans-serif;
}

.lightbox:target {
    opacity: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

.close {
    font-family: 'notosansbold-font',sans-serif;
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    text-decoration: none;
    color: black;
    }

.figure {  
        height:550px;
        display: inline-block;  ;
        vertical-align: middle  ;
        text-align: center  ; 
        background-color:#1C75BC;
        max-width:600px;
        overflow-x: auto;
    }



.forum-signup{
    background-color: white;
}

.forum-a{
    font-size: 4em;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    font-family: 'notosansbold-font',sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.forum-a:hover{
    color: #EF4136;
}

.forum-partner-container{
    margin:0 auto;
    width:80%;
}

.forum-s-h-blue {
    
    font-family: 'notosansbold-font',sans-serif;
    color:#1C75BC;
    font-size: 1.2em;
}

.forum-s-h {
    display: none;
    text-align: left;
    font-family: 'notosansbold-font',sans-serif;
    color:#1C75BC;
    font-size: 1.2em;
}

.forum-partner-pic {
    height:auto;
    width:95%;
}

.forum-partner-block{
    vertical-align: middle;
    width:23%;
    display: inline-block;
}