/*layout*/
/*font*/
.display-none {
  display: none;
}

.content-container {
  width: 1024px;
  margin: 0 auto;
}

@font-face {
  font-family: dinpro-b;
  src: url("/font/DINPro-Bold.ttf");
}

@font-face {
  font-family: dinpro-m;
  src: url("/font/DINPro-Medium.ttf");
}

@font-face {
  font-family: slabo;
  src: url("/font/slabo.ttf");
}

@font-face {
  font-family: ming-font;
  src: url("/font/cwTeXMing-zhonly.ttf");
}

@font-face {
  font-family: notosansbold-font;
  src: url("/font/NotoSansTC-Bold.otf");
}

@font-face {
  font-family: notosanslight-font;
  src: url("/font/NotoSansTC-Light.otf");
}

.header {
  width: 100%;
  height: 70px;
  display: block;
  padding-top: 24px;
  margin-bottom: 36px;
}

@media screen and (max-width: 500px) {
  .header {
    height: 210px;
  }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .header {
    height: 140px;
  }
}

.nav {
  max-width: 1024px;
  height: 70px;
  margin: 0 auto;
}

.logo-pic {
  height: 56px;
  padding: 7px;
  transition: all 0.5s ease;
}

.logo-pic:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.category-bar {
  font-family: 'notosansbold-font',sans-serif;
  display: inline-block;
  padding: 24px 0px;
  max-width: inherit;
  vertical-align: top;
}

.category-item, .logo-name {
  font-size: 14px;
  letter-spacing: 3px;
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 10px;
}

.category-item a, .logo-name a {
  color: black;
  text-decoration: none;
}

.category-item a:hover, .logo-name a:hover {
  color: #B11533;
  text-decoration: none;
}

.logo-name {
  padding: 24px;
  text-decoration: inherit;
  font-weight: bold;
  font-size: 16px;
}

.logo-name:hover {
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -100%;
  top: 100%;
  margin-left: -20px;
  background-color: #FBF8F4;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .category-item {
  display: block;
  margin: auto;
  text-align: center;
  padding: 12px 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow-down {
  vertical-align: top;
}

.social-media-bar {
  display: inline-block;
  vertical-align: top;
  height: 70px;
  float: right;
}

.social-media-bar i {
  font-size: 36px;
  padding: 15px 5px;
}

.social-media-bar a {
  float: right;
  color: black;
  text-decoration: none;
}

.social-media-bar a:hover {
  color: #B11533;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .social-media-bar a {
    float: left;
  }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .social-media-bar a {
    float: left;
  }
}

.slide-container {
  font-family: Microsoft JhengHei, ming-font, slabo;
  min-width: 1024px;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  cursor: pointer;
}

.slide-cover {
  width: 100%;
  height: 500px;
  background-color: black;
  position: absolute;
  z-index: -1;
  opacity: 0.85;
}

.slide-show {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

.slide-content {
  padding-top: 370px;
  padding-left: 50px;
  padding-right: 100px;
  width: 850px;
  height: 150px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#0d000000', endColorstr='#99000000',GradientType=0 );
}

.slide-content .title, .slide-content .preview {
  letter-spacing: 4px;
  margin: 8px;
  color: white;
  line-height: 130%;
  display: inline;
}

.slide-content .title {
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
}

.slide-content .preview {
  font-size: 1.2em;
}

.slide-controller {
  padding: 20px 15px;
  width: 150px;
  height: 70px;
  margin: auto;
}

.slide-button {
  padding: 1px;
  margin: 5px 4px;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #778899;
  cursor: pointer;
}

.slide-button:hover {
  background-color: #B11533;
}

.slide-button:active {
  background-color: #B11533;
}

.article-wall {
  max-width: 1024px;
  margin: 0 auto;
  font-family: Microsoft JhengHei, ming-font, slabo;
  letter-spacing: 2px;
}

.article-partial-wall {
  padding: 20px 1px;
}

.article-partial-wall .more {
  text-align: right;
  padding-right: 16px;
  cursor: pointer;
}

.category-title {
  font-size: 34px;
  padding-left: 20px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.category-title:hover {
  text-decoration: none;
  color: #B11533;
}

.more {
  font-size: 15px;
  padding-left: 25px;
  letter-spacing: 3.5px;
}

.card {
  margin: 15px;
  width: 300px;
  text-align: left;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  background-color: #FBF8F4;
}

.card:hover .card-cover {
  display: none;
}

.card-category-name {
  font-size: 12px;
  line-height: 12px;
  color: #B11533;
  margin-left: 13px;
  margin-bottom: 0;
}

.card-cover {
  width: 300px;
  height: 200px;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#0d000000', endColorstr='#99000000',GradientType=0 );
}

.card-picture-container {
  height: 200px;
  text-align: center;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.card-title {
  padding-top: 30px;
  padding-left: 25px;
  font-size: 28px;
  line-height: 20px;
  color: black;
  margin: 0;
  letter-spacing: 1px;
}

.card-content {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 1px;
}

.card-time {
  margin: 0;
  width: 100px;
  font-size: 13px;
  padding-top: 10px;
  letter-spacing: 1px;
  color: #rgba 0;
  z-index: 10;
}

.cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: -webkit-box;
  display: flex;
  padding: 1rem;
}

@media (min-width: 60rem) {
  .cards__item {
    width: 100%;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  border-radius: 0.25rem;
  /*box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);*/
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  height: 65%;
  max-height: 450px;
}

.card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

.card__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 1rem 1.6rem;
}

.card__content .author {
  margin: 8px 0;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 55%;
}

@media (min-width: 80rem) {
  .card__image::before {
    padding-top: 60%;
  }
}

.card__title {
  color: #303030;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__title h3 {
  font-weight: bold;
  margin-top: 0;
}

.card__text {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/*  footer */
.footer img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}

.category-container {
  padding-top: 50px;
  font-family: Microsoft JhengHei, ming-font, slabo;
  letter-spacing: 4px;
}

.category-container .category-title {
  color: #B11533;
}

.separator {
  border: 0;
  height: 2px;
  background-image: linear-gradient(90deg, #778899, #8c8b8b, #f0f0f0);
}

.separator-active {
  border: 0;
  height: 2px;
  background-image: linear-gradient(90deg, #B11533, #8c8b8b, #f0f0f0);
}

.front_img {
  width: 100%;
  height: 500px;
  text-align: center;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-image: url("https://www.w3schools.com/css/paris.jpg");
}

.article {
  font-family: Microsoft JhengHei, ming-font, slabo;
  float: left;
  width: 70%;
  margin-bottom: 360px;
}

.article-title {
  font-size: 34px;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 48px 0;
  display: block;
}

.article-fb {
  padding-top: 15px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
}

.article-info {
  color: #778899;
  padding-top: 15px;
  display: inline-block;
  vertical-align: top;
  padding-left: 300px;
}

.article-content {
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  padding: 0 2em 0 0;
}

.article-content img {
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
}

.article-content p {
  word-wrap: break-word;
  letter-spacing: 2px;
  line-height: 1.6em;
  font-size: 17px;
}

.fb-comments {
  margin-top: 20px;
  padding: 0;
}

.sidebar {
  float: right;
  width: 30%;
  margin: 0;
  overflow: hidden;
  font-family: Microsoft JhengHei, ming-font, slabo;
}

.sidebar .author_info {
  margin-right: 0;
  margin-top: 0;
  width: 300px;
  height: 300px;
  position: relative;
}

.sidebar .author_info .right_top_shade, .sidebar .author_info .left_bot_box {
  width: 250px;
  height: 250px;
  position: absolute;
}

.sidebar .author_info .right_top_shade {
  top: 0;
  right: 0;
  background-color: #FBF8F4;
}

.sidebar .author_info .left_bot_box {
  left: 30;
  bottom: 30;
  border: 1px solid #7B6A53;
  border-radius: 1px;
  padding: 25px 0 0 15px;
}

.sidebar .author_info .left_bot_box span {
  font-size: 1.5em;
}

.sidebar .author_info .left_bot_box p {
  margin-left: 20px;
  margin-top: 85px;
  max-width: 100%;
}

.sidebar .author_info .author_pic {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 160px;
  text-align: center;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.sidebar .more_menu .recommand, .sidebar .more_menu .categories_list, .sidebar .more_menu .years_list {
  padding-left: 30px;
}

.sidebar .more_menu .recommand ul, .sidebar .more_menu .categories_list ul, .sidebar .more_menu .years_list ul {
  list-style: none;
  padding-left: 0;
}

.sidebar .more_menu .recommand li, .sidebar .more_menu .categories_list li, .sidebar .more_menu .years_list li {
  list-style: none;
  display: -webkit-box;
  display: flex;
  padding: 0.5em 0;
  color: #A19871;
  cursor: pointer;
}

.sidebar .more_menu .recommand li span, .sidebar .more_menu .categories_list li span, .sidebar .more_menu .years_list li span, .sidebar .more_menu .recommand li p, .sidebar .more_menu .categories_list li p, .sidebar .more_menu .years_list li p {
  letter-spacing: 1px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.base-card {
  font-size: 17px;
  font-family: Microsoft JhengHei, ming-font, slabo;
  display: inline-block;
  overflow: hidden;
  width: 19%;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

.card-author {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: inline-block;
}

.back {
  text-shadow: 1px 2px 2px #778899;
  background: #FBF8F4;
}

.front {
  overflow: hidden;
  text-align: left;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.author-title {
  font-size: 34px;
  font-family: Microsoft JhengHei, ming-font, slabo;
  text-shadow: 3px 3px 3px #778899;
  display: block;
  padding-top: 50px;
}

.author-intro {
  max-height: 220px;
  overflow: hidden;
  font-size: 17px;
  letter-spacing: 2px;
}

.author-link {
  padding-top: 20px;
  display: block;
  text-align: left;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding-right: 20px;
  text-shadow: 1px 1px 1px #778899;
}

.author-link:hover {
  color: #B11533;
}

.partner-title {
  display: block;
  padding-top: 50px;
  font-size: 34px;
}

.partner {
  font-family: Microsoft JhengHei, ming-font, slabo;
  text-shadow: 2px 2px 2px #778899;
}

.partner-card {
  font-family: Microsoft JhengHei, ming-font, slabo;
  letter-spacing: 3px;
  width: 300px;
  margin: 5px;
  display: inline-block;
  background-color: white;
  padding: 15px;
  vertical-align: top;
}

.partner-name {
  font-size: 1.5em;
  height: 40px;
  overflow-x: auto;
  word-break: break-all;
  overflow-y: auto;
}

.partner-logo-pic {
  height: 200px;
  width: 200px;
  margin: auto;
  background-size: cover;
  background-position: center;
}

.partner-text {
  margin-top: 5px;
  width: 100%;
  height: 100px;
  line-height: 1.5em;
  word-wrap: break-word;
  text-align: left;
}
