.display-none {
  display: none; }

@font-face {
  font-family: dinpro-b;
  src: url("/font/DINPro-Bold.ttf"); }

@font-face {
  font-family: dinpro-m;
  src: url("/font/DINPro-Medium.ttf"); }

@font-face {
  font-family: ming-font;
  src: url("/font/cwTeXMing-zhonly.ttf"); }

@font-face {
  font-family: notosansbold-font;
  src: url("/font/NotoSansTC-Bold.otf"); }

@font-face {
  font-family: notosanslight-font;
  src: url("/font/NotoSansTC-Light.otf"); }

.header {
  width: 100%;
  height: 70px;
  background: #FFFFFF;
  display: block; }
  @media screen and (max-width: 500px) {
    .header {
      height: 210px; } }
  @media screen and (max-width: 900px) and (min-width: 500px) {
    .header {
      height: 140px; } }

.nav {
  max-width: 1024px;
  height: 70px;
  margin: 0 auto; }

.logo-pic {
  height: 56px;
  padding: 7px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .logo-pic:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

.category-bar {
  font-family: 'notosansbold-font',sans-serif;
  display: inline-block;
  padding: 24px;
  max-width: 500px;
  vertical-align: top; }

.category-item {
  font-size: 14px;
  letter-spacing: 3px;
  display: inline-block;
  margin-right: 20px; }
  .category-item div {
    color: blue; }
  .category-item a {
    color: black;
    text-decoration: none; }
    .category-item a:hover {
      color: #B11533;
      text-decoration: none; }

.social-media-bar {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  width: 400px;
  height: 70px; }
  .social-media-bar i {
    font-size: 36px;
    padding: 15px 5px; }
  .social-media-bar a {
    float: right;
    color: black;
    text-decoration: none; }
    .social-media-bar a:hover {
      color: #B11533;
      text-decoration: none; }
  @media screen and (max-width: 500px) {
    .social-media-bar a {
      float: left; } }
  @media screen and (max-width: 900px) and (min-width: 500px) {
    .social-media-bar a {
      float: left; } }

.slide-container {
  min-width: 1024px;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  opacity: 0.9; }

.slide-cover {
  width: 100%;
  height: 500px;
  background-color: black;
  position: absolute;
  z-index: -1;
  opacity: 0.85; }

.slide-show {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover; }

.slide-content {
  padding-top: 350px;
  padding-left: 50px;
  padding-right: 100px;
  width: 850px;
  height: 150px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#0d000000', endColorstr='#99000000',GradientType=0 ); }
  .slide-content .preview,
  .slide-content .title {
    margin: 8px;
    color: white;
    text-shadow: 2px 1px 2px black;
    line-height: 130%; }

.slide-controller {
  padding: 20px 15px;
  width: 150px;
  height: 70px;
  margin: auto; }

.slide-button {
  padding: 1px;
  margin: 5px 4px;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer; }
  .slide-button:hover {
    background-color: #B11533; }
  .slide-button:active {
    background-color: #B11533; }

.article-wall {
  width: 1000px;
  margin: 0 auto; }

/* separator  */
.separator {
  max-width: 1106px;
  width: 80%;
  border: 0;
  height: 1px;
  background-color: #d4d4d4;
  color: #d4d4d4; }

/*  footer */
.footer {
  max-width: 1006px;
  width: 100%;
  text-align: center;
  margin: 0 auto; }

.footer span {
  font-size: 12px;
  line-height: 54px;
  margin-right: 30px;
  color: black; }

.footer a {
  text-decoration: none;
  color: black; }

.footer a:hover {
  color: #B11533;
  border-bottom: 2px solid #000;
  padding-bottom: 4px; }

/*  main  */
.main-content {
  max-width: 1006px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  text-align: center;
  font-family: 'ming-font',serif;
  letter-spacing: 0.07em;
  min-height: 800px; }

.forum-ad {
  position: fixed;
  top: 100px;
  right: 0;
  width: 90px;
  height: 200px;
  background-color: white; }

.hot-container {
  margin-top: 16px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  height: 96px;
  background-color: #ddd;
  float: left; }
