.slideshow-container {
    display: inline-block;
    min-width: 720px;
    height: auto;
    margin-right: 13px;
    margin-bottom: 15px;
}

.slideshow-and-side-bar-container {
    display: block;
    text-align: center;
}

/* bar */

.side-bar {
    display: inline-block;
    width: 260px;
    height: 480px;

}
.side-bar-news-container {
    width:282px;
    height: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.side-bar table {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(256, 256, 256, 0.8);
}
.side-bar td {
    border: 1px solid #B11533;
    font-family:'ming-font',serif;
    font-size: 18px;
    height: 96px;
    text-align: center;
    color: black;
    letter-spacing: 2px;
    word-break: break-all;
    cursor: pointer;
}

.side-bar a{
    text-decoration: none;
}

.side-bar a {
    text-decoration: none;
    color:black;
    line-height: 150%;
}
.side-bar td:hover a{
    color: #B11533;
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
}



.jssorb14 {
    position: absolute
}

.jssorb14 div,
.jssorb14 div:hover,
.jssorb14 .av {
    position: absolute;
    width: 12px;
    height: 12px;
    background: url('img/b14.png') no-repeat;
    overflow: hidden;
    cursor: pointer
}

.jssorb14 div {
    background-position: -9px -9px
}

.jssorb14 div:hover,
.jssorb14 .av:hover {
    background-position: -39px -9px
}

.jssorb14 .av {
    background-position: -69px -9px
}

.jssorb14 .dn,
.jssorb14 .dn:hover {
    background-position: -99px -9px
}

.jssora22l,
.jssora22r {
    display: block;
    position: absolute;
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('img/a22.png') center center no-repeat;
    overflow: hidden
}

.jssora22l {
    background-position: -10px -31px
}

.jssora22r {
    background-position: -70px -31px
}

.jssora22l:hover {
    background-position: -130px -31px
}

.jssora22r:hover {
    background-position: -190px -31px
}

.jssora22l.jssora22ldn {
    background-position: -250px -31px
}

.jssora22r.jssora22rdn {
    background-position: -310px -31px
}
