.article-wall {
    max-width: $main-content-width;
    margin: 0 auto;
    font-family: $main-font-family;
    letter-spacing: 2px;
}

.article-partial-wall {
    padding: 20px 1px;

    .more{
        text-align: right;
        padding-right: 16px;
        cursor: pointer;
    }
}

.category-title {
    // text-shadow: 2px 2px 1px $theme-gray;
    font-size: $font-big-size;
    padding-left: 20px;
    font-weight: 700;
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: none;
        color: $theme-red;
    }
}

.more {
    font-size: $font-small-size;
    padding-left: 25px;
    letter-spacing: 3.5px;
}
