/*  footer */
.footer {
    width: $main-content-width;
    margin: 0 auto;
    font-family: $main-font-family;
    font-size: $font-medium-size;
    height: 150px;

    .footer-element {
        text-shadow: 2px 2px 2px $theme-gray;
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 20px;

        &:hover {
            color: $theme-red;
        }
    }
}
