.slide-container {
    font-family: $main-font-family;
    min-width: 1024px;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    cursor: pointer;
}

.slide-cover {
    width: 100%;
    height: 500px;
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.85;
}

.slide-show {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

.slide-content {
    padding-top: 350px;
    padding-left: 50px;
    padding-right: 100px;
    width: 850px;
    height: 150px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#0d000000', endColorstr='#99000000',GradientType=0 );

    .preview,
    .title {
        letter-spacing: 4px;
        margin: 8px;
        color: white;
        text-shadow: 2px 1px 2px black;
        line-height: 130%;
    }
}

.slide-controller {
    padding: 20px 15px;
    width: 150px;
    height: 70px;
    margin: auto;
}

.slide-button {
    padding: 1px;
    margin: 5px 4px;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $theme-gray;
    cursor: pointer;

    &:hover {
        background-color: $theme-red;
    }

    &:active {
        background-color: $theme-red;
    }
}
