@font-face {
    font-family: dinpro-b;
    src: url("/font/DINPro-Bold.ttf");
}
@font-face {
    font-family: dinpro-m;
    src: url("/font/DINPro-Medium.ttf");
}
@font-face {
    font-family: slabo;
    src: url("/font/slabo.ttf");
}
@font-face {
    font-family: ming-font;
    src: url("/font/cwTeXMing-zhonly.ttf");
}
@font-face {
    font-family: notosansbold-font;
    src: url("/font/NotoSansTC-Bold.otf");
}
@font-face {
    font-family: notosanslight-font;
    src: url("/font/NotoSansTC-Light.otf");
}
