// colors
$theme-red: #B11533;
$theme-gray: #778899;
$theme-pink: #FFE4E1;
$card-background: #FBF8F4;
/*layout*/
$main-content-width: 1024px;
/*font*/
$font-small-size: 15px;
$font-normal-size: 16px;
$font-medium-size: 20px;
$font-big-size: 34px;
$main-font-family: Microsoft JhengHei, ming-font, slabo;
