// colors
$theme-red: #B11533;
$theme-gray: #d3d3d3;
/*layout*/
$main-content-width: 1024px;
/*font*/
$font-normal-size: 16px;
$font-big-size: 34px;
$font-small-size: 15px;
$main-font-family: ming-font,slabo;
