.card {
    width:242px;
    height:344px;
    text-align: left;
    background-color:rgba(256, 256, 256, 0.6);
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 15px;
    display: inline-block;
    border:1px solid #a9a9a9;
    cursor: pointer;


}
.card-category-name {
    font-size: 12px;
    line-height: 12px;
    color: #B11533;
    margin-left: 13px;
    margin-bottom: 0px;
}

.card-title {
    word-break: break-all;
    overflow-x: auto;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.card-picture-container{
    height:150px;
    text-align: center;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.card-content {
    position: absolute;
    word-break: break-all;
    max-height: 79px;
    width: 218px;
    overflow: hidden;
    font-size: 13px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 13px;
    line-height: 19px;
    opacity: 0.7;
    letter-spacing: 1px;
}

.card-time{
    position: absolute;
    word-break: break-all;
    max-height: 80px;
    width: 218px;
    overflow-x: auto;
    font-size: 13px;
    margin-top: 96px;
    margin-left: 154px;

    line-height: 19px;
    opacity: 0.7;
    letter-spacing: 1px;

}
