@import "_variables";
@import "_helpers";
@import "_typography";
@import "_header";
@import "_slide";
@import "_article-wall";
@import "_card";
@import "footer";
/* separator  */
/*  main  */
.forum-ad {
    position: fixed;
    top: 100px;
    right: 0;
    width: 90px;
    height: 200px;
    background-color: white;
}

.hot-container {
    margin-top: 16px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    height: 96px;
    background-color: #ddd;
    float: left;
}
